

header{
    text-align: center;
    text-shadow: 1px 2px rgb(161, 187, 161),
                 0 0 2px plum;
}

#main1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    
    
}

#level1{
    grid-row: span 2;
    
    background-color: rgba(220, 233, 245, .3);
    padding-top: 50px;
    padding-bottom: 130px;
    border-radius: 25px;
    
}

#level2{
    grid-column: span 1;
    grid-row: span 2;

    background-color: rgba(220, 233, 245, .3);
    padding-top: 50px;
    padding-bottom: 130px;
    border-radius: 25px;
}

img{
    max-width: 300px;
    height:auto;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    box-shadow: 10px 4px 2px 1px rgba(178, 155, 177, 0.8);
    border-top: 10px solid rgb(183, 229, 183);
    
}

p{
    padding: 30px 60px;
    padding-bottom: 150px;
    margin-top:25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    font-size: medium;
    background-color: rgba(238, 220, 168, .4);
    text-align: center;
    box-shadow: 3px 3px 10px 5px rgba(121, 136, 121, 0.8)
}



button{
    position: relative;
    bottom:130px; left:220px;
    padding: 40px;
    border: 2px solid rgb(208, 208, 171)
}

button:hover{
    background-color: rgb(209, 212, 214) !important;
    border: 8px solid rgb(208, 208, 171) !important;
}