h1{
    color: aliceblue;
}

img{
    max-width: 500;
    height:auto;
}

#main1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#level1{
    grid-column: span 1;
    grid-row: span 2;
}

#level2{
    grid-column: span 1;
    grid-row: span 2;
}